ai.out
book/make_board.out
book/ai_probability.out
book/early_stage.out
book/early_stage.txt
book/boards.txt
book/val.txt
book/one_board.txt
book/some_boards.txt
book/cmd.txt
book/cmd2.txt
book/learned_data
book/third_party
evaluation/learned_data
evaluation/third_party
evaluation/data
evaluation/data_stones
evaluation/data_additional
evaluation/data_player
evaluation/ai.out
ffotest/ffotest
ffotest/ai.out
multi_prob_cut/ai.out
multi_prob_cut/data_player