ai.out
book/make_board.out
book/ai_probability.out
book/early_stage.out
book/early_stage.txt
book/boards.txt
book/val.txt
book/one_board.txt
book/some_boards.txt
book/cmd.txt
book/cmd2.txt
book/param
book/third_party
evaluation/param
evaluation/third_party
evaluation/data